@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #001740;
  --cor-secundaria: #ffffff;
  --cor-terciaria: #1469c3;
  --cor-laranja: #fa6642;
  --cor-detalhes: #c0c0c0;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}

.principal {
  height: 100vh;
}

.container {
  background-color: var(--cor-primaria);
  height: 100vh;
}

.container__diferenciais {
  background-color: var(--cor-primaria);
  height: 100vh;
  display: flex;
  gap: 5em;
  align-items: center;
  justify-content: center;
  padding: 0 5% 0 5%;
}

.container__devs {
  background-color: var(--cor-primaria);
  display: flex;
  gap: 5vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.5% 5% 0 5%;
}

.titulo__desenvolvimento {
  font-size: 4em;
  width: 100%;
  text-align: start;
  font-family: var(--fonte-primaria);
  color: var(--cor-secundaria);
}

.nome__desenvolvedor {
  font-size: 1em;
  width: 100%;
  text-align: center;
  font-family: var(--fonte-primaria);
  color: var(--cor-secundaria);
}

.dev_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.devs {
  display: flex;
  gap: 3vw;
}

.img__desenvolvedor {
  width: 10vw;
}

.flex {
  display: flex;
  gap: 8em;
  align-items: center;
  justify-content: center;
}

.flex__column {
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.icone {
  width: 5vw;
}

.titulo {
  font-size: 4em;
  width: 100%;
  text-align: start;
  font-family: var(--fonte-primaria);
  color: var(--cor-primaria);
  padding: 0 0 0 30%;
}

.titulo__cabecalho {
  font-size: 2em;
  width: 100%;
  text-align: start;
  font-family: var(--fonte-primaria);
  padding: 0 0 0 30%;
}

.subtitulo {
  font-size: 2em;
  width: 60%;
  text-align: start;
  font-family: var(--fonte-secundaria);
  color: var(--cor-primaria);
  padding: 0 0 0 30%;
}

.titulo__secao {
  font-size: 4em;
  text-align: start;
  font-family: var(--fonte-primaria);
  color: var(--cor-secundaria);
}

.subtitulo__secao {
  font-size: 2em;
  text-align: start;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);
}

.subtitulo__secao__web {
  width: 100%;
  font-size: 2em;
  text-align: start;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);
}

.descricao {
  font-size: 1.5em;
  width: 100%;
  text-align: start;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  color: var(--cor-secundaria);
}

.descricao__objetivo {
  font-size: 2em;
  width: 80%;
  text-align: start;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  color: var(--cor-secundaria);
}

.contato {
  background-color: var(--cor-primaria);
  border-radius: 1em;
  margin: 0 0 0 30%;
  width: 40%;
  display: flex;
  justify-content: center;
}

.video-container {
  position: relative;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 0 5% 0 5%;
}

.video-container iframe {
  width: 60%;
  height: 60%;
}

.contato:hover {
  background-color: var(--cor-laranja);
  margin: 0 0 0 30%;
}

.titulo__botao {
  color: var(--cor-secundaria);
  font-family: var(--fonte-primaria);
  padding: 5% 0 5% 0;
}

.ancora {
  text-decoration: none;
}

.cabecalho {
  padding: 1% 0% 1% 0%;
  background-color: var(--cor-laranja);
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
}

.logo_titulo {
  height: fit-content;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  align-items: start;
  justify-content: center;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
  align-items: center;
}

.logo__ct {
  width: 50%;
  margin-right: 10%;
}

.logo {
  width: 20vw;
}

.ancora__principal {
  text-decoration: none;
  color: var(--cor-primaria);
}

.ancora__principal:hover {
  text-decoration: none;
  color: var(--cor-secundaria);
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  color: var(--cor-secundaria);
}

.cabecalho__menu__link:hover {
  color: var(--cor-primaria);
}

.logo__titulo {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(200deg);
}

.imagem__mobile {
  height: 70vh;
  width: fit-content;
  margin-left: 15%;
}

.imagem__web {
  width: 40vw;
  height: fit-content;
  margin-right: 10%;
}

.mobile__conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  margin-right: 10%;
}

.web__conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  margin-left: 15%;
}

.footer {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.img__footer {
  height: 7vh;
}

@media screen and (max-width: 768px) {
  .cabecalho {
    padding: 4% 0% 4% 0%;
  }

  .titulo__cabecalho {
    padding: 0;
    color: var(--cor-secundaria);
  }

  .cabecalho__menu {
    display: none;
  }

  .titulo {
    width: fit-content;
    font-size: 2.5em;
    padding: 0;
  }

  .container {
    padding-top: 20%;
  }

  .subtitulo {
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    padding: 0;
  }

  .flex {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1em;
  }

  .logo__ct {
    margin: 0;
    padding: 0;
  }

  .logo {
    width: 100%;
    padding: 0;
  }

  .contato {
    width: 80%;
    margin: 0;
  }

  .contato:hover {
    margin: 0;
  }

  .descricao__objetivo {
    font-size: 1.5em;
  }

  .subtitulo__secao {
    padding: 0;
  }

  .dif {
    font-size: 1.5em;
    padding: 0;
  }

  .subtitulo__secao__web {
    width: fit-content;
    padding: 0;
  }

  .descricao {
    width: 80%;
    font-size: 1em;
    text-align: center;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    gap: 5em;
    height: fit-content;
    padding: 30% 0 0 0;
  }

  .web {
    display: flex;
    flex-direction: column-reverse;
    gap: 5em;
    height: fit-content;
    padding: 30% 0 0 0;
  }

  .web__conteudo {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .mobile__conteudo {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .imagem__mobile {
    width: 80%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  .imagem__web {
    width: 80%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  .container__diferenciais {
    flex-direction: column;
    padding-top: 40%;
    gap: 4em;
    height: fit-content;
  }

  .icone {
    width: 20%;
    height: fit-content;
  }

  .principal {
    align-items: center;
    justify-content: center;
  }

  .vertical {
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .titulo__desenvolvimento {
    font-size: 1.5em;
    width: fit-content;
  }

  .container__devs {
    gap: 4em;
    height: fit-content;
    padding-top: 30%;
  }

  .video-container {
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 30% 0 30% 0;
  }

  .video-container iframe {
    width: 90%;
    height: 90%;
  }
}
